<div class="gvis-wrapper">
    <!-- tabs -->
    <!--div></div-->

    <div class="row-top">
        <!-- title -->
        <h1 class="js-title">Header</h1>
        <p class="js-gloss f-standfront">Description goes here ...</p>

        <!-- search box -->
        <div>
            <input class="col-input search-input" type="text" name="input">
            <button class="col-btn search-btn" name="button">Search</button>
        </div>

        <!-- map -->
        <div class="col-map-uk"></div> 

        <!-- close contests -->
        <div class="bt" id="jsCloseContests">
            <h2 class="js-title">Title</h2>
            <p class="js-gloss">Description goes here ...</p>
        </div> 

        <!-- battleground britain  -->
        <div class="bt" id="jsBattlegtounds">
            <h2 class="js-title">Title</h2>
            <p class="js-gloss">Description goes here ...</p>
        </div>
    </div>
    
    <div class="row">
        <img class="col-icon" src="" alt="london">
        <div class="col-h3">
            <h3 class="js-title">Subtitle</h3>
            <p class="js-gloss">Description goes here ...</p>
        </div>
    </div>
    <div class="row-maps" id="jsLondon">
        <div class="col-2015"></div>
        <div class="col-2010"></div>
    </div>

    <div class="row">
        <img class="col-icon" src="" alt="south west">
        <div class="col-h3">
            <h3 class="js-title">Subtitle</h3>
            <p class="js-gloss">Description goes here ...</p>
        </div>
    </div>
    <div class="row-maps" id="jsSouthWest">
        <div class="col-2015"></div>
        <div class="col-2010"></div>
    </div>

    <div class="row">
        <img class="col-icon" src="" alt="eastern">
        <div class="col-h3">
            <h3 class="js-title">Subtitle</h3>
            <p class="js-gloss">Description goes here ...</p>
        </div>
    </div>
    <div class="row-maps" id="jsEastern">
        <div class="col-2015"></div>
        <div class="col-2010"></div>
    </div>

    <div class="row">
        <img class="col-icon" src="" alt="scotland">
        <div class="col-h3">
            <h3 class="js-title">Subtitle</h3>
            <p class="js-gloss">Description goes here ...</p>
        </div>
    </div>
    <div class="row-maps" id="jsScotland">
        <div class="col-2015"></div>
        <div class="col-2010"></div>
    </div>


</div>
