<div class="interactive-wrapper">
    <div class="row-top pos-r">

        <p class="f-lastupdate"><time id="jsLastUpdate"></time></p>

        <!-- title -->
        <div id="jsTop">
            <h1 class="js-title">Election 2015 interactive: what did the opinion polls say about your seat?</h1>
            <p class="f-standfirst"><strong>Final projection: </strong><span class="js-gloss">
                    Find out who was leading the race in your constituency, according to the final polls. The map shows which party was expected to win each of the 650 seats, which might change hands, and which were the battleground seats with a projected margin of less than 5%. The constituencies are scaled so each seat has the same area</span> 
            <a class="f-no-wrap" href="http://www.theguardian.com/politics/2015/feb/27/uk-election-2015-the-guardian-poll-projection-methodology">Methodology »</a>
            </p>
        </div>

        <div class="btns-share">
            <button class="btn-tt" data-source="twitter"></button>
            <button class="btn-fb" data-source="facebook"> </button>
        </div>

        <!-- sticky: legend (1/2) -->
        <div id="jsStickyAnchor"></div>
        <div id="jsSticky">
            <ul class="legend">
                <li><span class="rect bgc-lab"></span>Lab</li>
                <li><span class="rect bgc-snp"></span>SNP</li>
                <li><span class="rect bgc-green"></span>Green</li>
                <li><span class="rect bgc-others"></span>Others</li>
                <li><span class="rect bgc-ukip"></span>Ukip</li>
                <li><span class="rect bgc-libdem"></span>LD</li>
                <li><span class="rect bgc-con"></span>Con</li>
                <li><span class="rect bgc-dup"></span>DUP</li>
                <li><span class="rect bgc-sf"></span>SF</li>
                <li><span class="rect bgc-sdlp"></span>SDLP</li>
            </ul>
        </div>

        <!-- box: search -->
        <div class="edd"></div>
        <!-- box: collapse -->
        <div class="pos-r js-expand expand hide">
            <span class="pos-x btn-x js-btn-collapse"></span>
            <h4 class="mt-10" id="jsName"></h4>
            <p id="jsInfo"></p>
            <h5 class="mt-10">Winner 2010</h5>
            <p class="f-people" id="jsMP"></p>
            <h5 class="mt-10">Candidates</h5>
            <ul class="ul-candidates" id="jsCandidates"></ul>
        </div>

        <!-- map -->
        <div id="ukProjections" class="pos-map-uk">
            <div class="cartogram hundred">
                <div class="center hundred"></div>
            </div>
        </div> 

        <!-- tabs -->
        <div id="election-nav-head"></div>
    </div>

    <!-- section: battleground britain  -->
    <div class="section" id="jsBattlegrounds">
        <h2 class="js-title">Battleground Britain</h2>
        <p class="ff-s-t fz-16 c-grey2 js-gloss">loading ...</p>
    </div>

    <!-- subsection -->
    <div id="jsScotland" class="bb-subsection">
        <div class="row">
            <img class="col-icon" src="@@assetPath@@/imgs/icon_scotland.png" alt="scotland">
            <div class="col-text">
                <h3 class="js-title"></h3>
                <p class="js-gloss"></p>
            </div>
        </div>
        <div class="row-maps cartogram">
            <div class="carto col-2010">
                <h4>2010 parliament</h4>
            </div>
            <div class="carto col-2015">
                <h4>2015 Guardian projection</h4>
            </div>
        </div>
    </div>

    <div id="jsNorth" class="bb-subsection">
        <div class="row">
            <img class="col-icon" src="@@assetPath@@/imgs/icon_north.png" alt="north">
            <div class="col-text">
                <h3 class="js-title"></h3>
                <p class="js-gloss"></p>
            </div>
        </div>
        <div class="row-maps cartogram">
            <div class="carto col-2010">
                <h4>2010 parliament</h4>
            </div>
            <div class="carto col-2015">
                <h4>2015 Guardian projection</h4>
            </div>
        </div>
    </div>
    
    <div id="jsSouthwest" class="bb-subsection">
        <div class="row">
            <img class="col-icon" src="@@assetPath@@/imgs/icon_southwest.png" alt="south west">
            <div class="col-text">
                <h3 class="js-title"></h3>
                <p class="js-gloss"></p>
            </div>
        </div>
        <div class="row-maps cartogram">
            <div class="carto col-2010"><h4>2010 parliament</h4>

            </div>
            <div class="carto col-2015">
                <h4>2015 Guardian projection</h4>
            </div>
        </div>
    </div>

    <div id="jsLondon" class="bb-subsection"> 
        <div class="row">
            <img class="col-icon" src="@@assetPath@@/imgs/icon_london.png" alt="london">
            <div class="col-text">
                <h3 class="js-title"></h3>
                <p class="js-gloss"></p>
            </div>
        </div>
        <div class="row-maps cartogram">
            <div class="carto col-2010">
                <h4>2010 parliament</h4>
            </div>
            <div class="carto col-2015">
                <h4>2015 Guardian projection</h4>
            </div>
        </div>
    </div>

    <div id="jsEast">
        <div class="row">
            <img class="col-icon" src="@@assetPath@@/imgs/icon_east.png" alt="east">
            <div class="col-text">
                <h3 class="js-title"></h3>
                <p class="js-gloss"></p>
            </div>
        </div>
        <div class="row-maps cartogram">
            <div class="carto col-2010">
                <h4>2010 parliament</h4>
            </div>
            <div class="carto col-2015">
                <h4>2015 Guardian projection</h4>
            </div>
        </div>
    </div>

    <p class="row-text f-footnote mt-45">
        Note: Comparison is with 2010, not the outgoing parliament. Exception is made for the two Ukip seats of Rochester and Strood, and Clacton, whose MPs were elected in 2010 as Conservatives but re-elected during the parliament to represent Ukip.
    </p>    
    <p class="row-text f-footnote mt-10">
        Candidate home page links from 
        <a href="https://yournextmp.com/" target="_blank">yournextmp.com</a>
    </p>

    <p class="f-credit js-credit">
        Credits: <a href="http://www.theguardian.com/profile/chia-jung-apple-c-fardel">Chia-Jung (Apple) C.Fardel</a>, 
        <a href="http://www.theguardian.com/profile/seanclarke">Seán Clarke</a>, 
        <a href="http://www.theguardian.com/profile/alberto-nardelli">Alberto Nardelli</a>, 
        Ralph Straumann and 
        <a href="http://www.theguardian.com/profile/carlo-zapponi">Carlo Zapponi</a>
    </p>
    <div id="election-nav-footer" class="mt-45"></div>
</div>

<!-- sticky: legend (2/2) -->
<div id="jsStickyBackground"></div>
