<div class="interactive-wrapper">
    <!-- tabs -->
    <!--div></div-->
    <div id="election-nav-head"></div>

    <div class="row-top pos-r">
        <!-- title -->
        <div id="jsTop">
            <h1 class="js-title">Mapping the polls</h1>
            <p class="f-standfirst js-gloss">
                Find out who is leading the race in your constituency. Our projection shows who — according to the polls — can expect to win each of the 650 seats in parliament, and breaks out the main battlegrounds. 
            </p>
        </div>
        <!-- sticky: last update and legend  -->
        <div class="bgc-white" id="jsStickyRow">
            <p class="f-lastupdate"><time id="jsLastUpdate"></time></p>
            <!--ul class="ul-party">
                <li><span class="rect bgc-lab"></span>Con</li>
                <li><span class="rect bgc-snp"></span>SNP</li>
                <li><span class="rect bgc-grn"></span>Green</li>
                <li><span class="rect bgc-others"></span>Others</li>
                <li><span class="rect bgc-ukip"></span>Ukip</li>
                <li><span class="rect bgc-ldem"></span>Lib Dem</li>
                <li><span class="rect bgc-con"></span>Lab</li>
            </ul-->
        </div>

        <!-- box: search -->
        <div class="edd"></div>
        <!-- box: collapse -->
        <div class="pos-r js-expand expand hide">
            <span class="pos-x btn-x js-btn-collapse"></span>
            <h4 class="mt-10" id="jsName"></h4>
            <p id="jsInfo"></p>
            <h5 class="mt-10">Current MP</h5>
            <p class="f-people" id="jsMP"><a>Sean Clark, GMN</a></p>
            <h5 class="mt-10">Candidates</h5>
            <ul class="ul-candidates" id="jsCandidates"></ul>
        </div>

        <!-- map -->
        <div id="ukProjections" class="pos-map-uk">
            <div class="cartogram">
                <div class="center"></div>
            </div>
        </div> 

        <!-- section: close contests>
        <div class="bt l-close" id="jsClose">
            <h2 class="js-title">Close contests</h2>
            <p class="js-gloss">loading ...</p>
        </div--> 

        <!-- section: battleground britain  -->
        <div class="bt" id="jsBattlegrounds">
            <h2 class="js-title">Battleground Britain</h2>
            <p class="js-gloss">loading ...</p>
        </div>
    </div>

    <!-- subsection -->
    <div id="jsLondon"> 
        <div class="row">
            <img class="col-icon" src="@@assetPath@@/imgs/icon_london.png" alt="london">
            <div class="col-h3">
                <h3 class="js-title"></h3>
                <p class="js-gloss"></p>
            </div>
        </div>
        <div class="row-maps cartogram">
            <div class="carto col-2010">
                <h4>2010 parliament</h4>
            </div>
            <div class="carto col-2015">
                <h4>2015 Guardian projection</h4>
            </div>
        </div>
    </div>

    <div id="jsSouthwest">
        <div class="row">
            <img class="col-icon" src="@@assetPath@@/imgs/icon_southwest.png" alt="south west">
            <div class="col-h3">
                <h3 class="js-title"></h3>
                <p class="js-gloss"></p>
            </div>
        </div>
        <div class="row-maps cartogram">
            <div class="carto col-2010"><h4>2010 parliament</h4>

            </div>
            <div class="carto col-2015">
                <h4>2015 Guardian projection</h4>
            </div>
        </div>
    </div>

    <div id="jsEast">
        <div class="row">
            <img class="col-icon" src="@@assetPath@@/imgs/icon_east.png" alt="east">
            <div class="small-map col-icon"></div>
            <div class="col-h3">
                <h3 class="js-title"></h3>
                <p class="js-gloss"></p>
            </div>
        </div>
        <div class="row-maps cartogram">
            <div class="carto col-2010">
                <h4>2010 parliament</h4>
            </div>
            <div class="carto col-2015">
                <h4>2015 Guardian projection</h4>
            </div>
        </div>
    </div>

    <div id="jsScotland">
        <div class="row">
            <img class="col-icon" src="@@assetPath@@/imgs/icon_scotland.png" alt="scotland">
            <div class="small-map col-icon"></div>
            <div class="col-h3">
                <h3 class="js-title"></h3>
                <p class="js-gloss"></p>
            </div>
        </div>
        <div class="row-maps cartogram">
            <div class="carto col-2010">
                <h4>2010 parliament</h4>
            </div>
            <div class="carto col-2015">
                <h4>2015 Guardian projection</h4>
            </div>
        </div>
    </div>
    
    <!--p>Apple Chan-Fardel, Seán Clarke, Alberto Nardelli, Ralph Straumann and Carlo Zapponi</p-->
    <div id="election-nav-footer"></div>
</div>
