.con {
    fill:#005789;
    color:#005789;
    stroke:#005789;
    stop-color:#005789;
}
.lab {
    fill:#E31F26;
    color:#E31F26;
    stroke:#E31F26;
    stop-color:#E31F26;
}
.snp {
    fill:#FCDD03;
    color:#FCDD03;
    stroke:#FCDD03;
    stop-color:#FCDD03;
}
.libdem {
    fill:#FFB900;
    color:#FFB900;
    stroke:#FFB900;
    stop-color:#FFB900;
}
.ukip {
    fill:#7D0069;
    color:#7D0069;
    stroke:#7D0069;
    stop-color:#7D0069;
}
.green {
    fill:#33A22B;
    color:#33A22B;;
    stroke:#33A22B;
    stop-color:#33A22B;;
}
.others {
    fill:#B3B3B4;
    color:#B3B3B4;
    stroke:#B3B3B4;
    stop-color:#B3B3B4;
}
.pc {
    fill:#868686;
    color:#868686;;
    stroke:#868686;
    stop-color:#868686;
}
.gray {
    fill:#ccc;
    stroke:#ccc;
}
.marker {
    stroke-width:1 !important;
}
/************** CARTOGRAM CONTAINER *************/
div.cartogram {
    position: relative;
}
/************** CARTOGRAM SVG *************/
svg {
    background: transparent;
}
svg rect.bg {
    fill-opacity:0;
    stroke:none;
}
.main-maps svg {
    margin-top:-10px;
}

g .winner2010 {
    opacity: 0.6;
}

.constituency {
    fill-opacity:0.8;
    stroke-width:0;
}

.constituency-border {
    stroke-width:1;
    stroke:#fff;
    stroke-opacity:0.3;
}
.constituency.gray {
    stroke-width:0;
}
.highlight .constituency {
    fill-opacity:0.4;
    stroke-opacity:0;
}

.highlight .constituency.highlight {
    fill-opacity:1;
    stroke-opacity:1;
    stroke:#000;
    stroke-width:1;
}
.constituency.highlight {
    fill-opacity:1;
    stroke-opacity:1;
    stroke:#000;
    stroke-width:2;
}
.constituency.selected {
    fill-opacity:1;
    stroke-opacity:1;
    stroke:#fff;
    stroke-width:2;
}
.highlight .constituency.changing {
    fill-opacity:0.8;
}

#connections .connection {
    display: none;
}
#connections .connection.showme {
    
}
#connections .connection.highlight {
    display: block;
}
#connections .connection line {
    stroke-width:2;
    stroke-opacity:1;
    shape-rendering:crispEdges;
    fill:none;
}
#connections .connection path {
    stroke-width:2;
    stroke-opacity:1;
    shape-rendering:crispEdges;
    fill:none;
    stroke:#333;
}
#connections .connection line.border {
    stroke:#fff;
    stroke-width:1;
    stroke-opacity:1;
    shape-rendering:crispEdges;
}
/*************** REGIONS *******************/
.regions path {
    fill:#fefefe;
    stroke-width:1;
    stroke:#ccc;
}
.regions path.main {
    stroke:#333;
}
.regions .borders rect {
    fill:#fff;
}
/*************** REF MAP *******************/
.ref-map {
    
}
.ref-map path {
    fill:#ddd;
    stroke:none;
}
.ref-map path.highlight {
    fill:#aaa;
    stroke:#999;
}