$w: 450px;

// element
.ul-nostyle {
    list-style: none;
    margin: 0;
    padding: 5px 0;
}

.btns-share {
    margin-top:10px;
    margin-bottom: 30px;

    button {    
        color: #fff;
        width: 32px;
        height: 32px;
        border: none;
        border-radius: 9000px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        outline: none;
    }
    .btn-tt { background: #bdbdbd url(../imgs/twitterIcon.svg)  no-repeat center center; }
    .btn-fb { background: #bdbdbd url(../imgs/facebookIcon.svg) no-repeat center center; }
    .btn-tt:hover { background-color: #03b3ee }
    .btn-fb:hover { background-color: #3067a3 }
}

.btn-x {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAzMy4yIDMzLjIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMzLjIgMzMuMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBvbHlnb24gZmlsbD0iIzAxMDIwMiIgcG9pbnRzPSIyLjEsMCAwLDIuMSAxNC44LDE4LjQgMzEuNCwzMi45IDMzLjIsMzEuMSAxOC40LDE0LjggIi8+PHBvbHlnb24gZmlsbD0iIzAxMDIwMiIgcG9pbnRzPSIwLDMxLjEgMi4xLDMzLjIgMTguNCwxOC40IDMzLjIsMi4xIDMxLjEsMCAxNC44LDE0LjggIi8+PC9nPjwvc3ZnPg==);
    opacity: 0.1;
}
.btn-x:hover {
    opacity: 0.3;
}

.btn-standfirst {
    color: $c-grey2;
    background-color: #d4d4d4;
    font-family: $f-sans-serif-text;
    font-size: $fz-15;
    vertical-align: top;
    text-decoration: none;
    line-height: 24px;
    width: auto;
    height: 24px;
    padding: 0 6px;
    margin: 0 3px;
    border: 1px solid #d4d4d4;
    border-radius: 24px;
    box-sizing: border-box;
    display: inline-block;
}
.btn-standfirst:hover,
.btn-standfirst.selected {
    color: #fff;
    background-color: #005689;
    border-color: #005689;
}

.rect {
    width: 5px;
    height: 10px;
    margin-right: 3px;
    margin-bottom: 2px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
}


// component: dropdown
.edd {
    position: relative;
    font-family: $f-sans-serif-text;
    font-size: $fz-14;;
}

.edd__input:placeholder {
}
.edd__input {
    font-size: $fz-14;
    width: 100%;
    max-width: $w;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid $c-grey5;
    border-radius: 30px;
    padding: 0 10px;
}

.edd__dropdown {
    width: 100%;
    max-width: $w;
    box-sizing: border-box;
    background-color: white;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
}

.edd__entry {
    cursor: pointer;
    padding: 3px 10px 0 10px;
}
.edd__entry--focus {
    background-color: #ddd;
}
.edd__entry--info {
    color: #767676;
}
.edd__entry--info:hover {
    background-color: transparent;
    cursor: default;
}


// component: expand
.expand {
    background-color: $c-grey8;
    max-width: $w;
    box-sizing: border-box;
    margin-top: 30px;
    padding-left: 10px;    
    padding-right: 10px;    
    overflow: hidden;
}
.expand.hide {
    max-height: 0;
    transition: max-height, 1s;
} 
.expand.show { 
    height: auto;
    max-height: 445px; //temp 
    margin-bottom: 30px;    
    transition: max-height, 1s;
}
.expand .rect {
    margin-left: 1px;
    margin-right: 6px;
}
@media(min-width: 660px) {
.expand.show { 
    margin-bottom: 0px;    
}}


// component: legend
.legend {
    @extend .ul-nostyle;
    font-family: $f-sans-serif-text;
    font-size: $fz-14;
    margin-bottom: 15px;
    li {
        display: inline-block;
        padding-right: 5px;
    }
    li:last-child {
        padding-right: 0;
    }
    .rect {
        margin-right: 5px;
    }
}
@media(max-width: 490px) { 
.legend { 
    li { 
        padding-right: 4px; 
    }
}}
@media(max-width: 479px) {
.legend {
    li {
        width: calc((100% - 16px) / 5);
        padding-right: 0;
    }
}}


// compoment: sticky
.sticky {
    z-index: 3;
    min-width: 300px;
}
.sticky-bg {
    @extend .interactive-wrapper;
    z-index: 2;
    right: 0;
    left: 0;
    height: 28px;
    background-color: white;
    box-shadow: 1px 2px 10px #efefef;
    //border-bottom: 1px solid $c-grey5;   
}
.sticky-bg,
.interactive-wrapper .sticky {
    width: 100%;
    position: fixed;
    top: 0;
}
@media(max-width: 740px) {
    .sticky-bg {
        max-width: none;
        margin: 0;
}}
@media(max-width: 479px) {
    .sticky-bg {
        height: 45px;
    }   
    .interactive-wrapper .sticky {
        width: calc(100% - 20px);
    }
}
