.interactiveWrapper{
	margin:0 10px;
	max-width:680px;
	position: relative;
	border-top: 1px solid #dfdfdf;
}

@media(min-width:480px){
	.interactiveWrapper{
		margin:0 20px;
	}
}

@media(min-width:660px){
	.interactiveWrapper{
		margin:0 auto;
	}
}

@media(min-width:740px){
	.interactiveWrapper{
		max-width:740px;
	}
}

@media(min-width:980px){
	.interactiveWrapper{
		max-width:980px;
	}
}

@media(min-width:1140px){
	.interactiveWrapper{
		max-width:1140px;
	}
}

@media(min-width:1300px){
	.interactiveWrapper{
		max-width:1300px;
	}
}
