// grid 
body {
    margin: 0; //hack
}
.is-immersive .l-footer {
    display: block; //hack
}
figure.interactive {
    margin: 0; //hack
    min-height: 768px; //hack
}

.interactive-wrapper{
    background-color: white;
    max-width:680px;
    margin:0 10px;
    padding-top: 1px; //hack
    position: relative;
}

@media(min-width:480px){
    .interactive-wrapper{
        margin:0 20px;
    }
}

@media(min-width:660px){
    .interactive-wrapper{
        box-sizing: border-box;
        margin:0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(min-width:740px){
    .interactive {
        background-color: rgba(51, 51, 51, 0.0470588);
    }
    .interactive-wrapper{
        max-width: 740px;
    }
}

@media(min-width:980px){
    .interactive-wrapper{
        max-width: 980px;
    }
}

@media(min-width:1140px){
    .interactive-wrapper{
        max-width: 1140px;
    }
}

@media(min-width:1300px){
    .interactive-wrapper{
        max-width: 1300px;
    }
}
