/**
 * CSS of page goes here
 * */


// variables
$w-icon: 100px;
$h-icon: 100px;


// reset
h1, h2, h3, h4, h5, p {
    margin: 0;
}

a,
button {
    cursor: pointer;
    text-decoration: none;
}

a:hover,{
    text-decoration: underline;
}

input:focus,
button:focus {
    outline: none;
}


// style: fonts
h1 {
    font-family: $f-serif-headline;
    font-size: 32px;
    font-weight: normal;
    color: black;
    line-height: 38px;
}
h2 {
    font-family: $f-serif-headline;
    font-size: 30px;
    color: black;
}
h3 {
    font-family: $f-serif-headline;
    font-size: 24px;
    font-weight: bold;
    color: black;
    line-height: 1;
    margin-top: 18px;
    margin-bottom: 6px;
}
h4 { 
    font-size: $fz-16;
}
h5 {
    font-family: $f-sans-serif-text;
    font-size: $fz-14;
}

p {
    font-family: $f-sans-serif-text;
    font-size: $fz-14;
    color: $c-grey2;
}

.f-standfirst {
    font-family: $f-serif-text;
    font-size: $fz-18;
    color: $c-grey2;
    margin-top: 15px;
    margin-bottom: 15px;
}
.f-lastupdate {
    padding-top: 30px;
    margin-bottom: 5px;
}

.f-people {
    font-family: $f-sans-serif-text;
    font-size: $fz-14;
    color: $c-grey1;
}
.f-footnote {
    font-family: $f-sans-serif-text;
    font-size: $fz-13;
    color: $c-grey9;
    line-height: 1.3;
    a {
        color: $c-brand;    
    }
}
.f-credit {
    font-family: $f-serif-text;
    font-size: $fz-15;
    font-weight: bold;
    color: $c-grey2;    
    margin-top: 15px;
    a {
        color: $c-brand;    
    }
}

// style: elements

.ul-candidates {
    list-style: none;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    li {
        @extend .f-people;
    } 
    a {
        @extend .f-people;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
    }}
}

// style: misc
.mt-10 { margin-top: 10px; }
.mt-30 { margin-top: 30px; }
.mt-45 { margin-top: 45px; }

.bt-section {
    border-top: 1px solid $c-grey5;
}
.bb-subsection {
    border-bottom: 1px solid $c-grey5;
    padding-bottom: 64px;
}

.section {
    @extend .bt-section;
    padding-top: 24px;
    margin-bottom: 36px; 
}

.hidden {
    display: none;
}


// responsive
.row {
    overflow: hidden;
}
.row-top {
    @extend .row;
    overflow: visible;
    min-height: 640px;
    margin-top: 0;
    margin-bottom: 0;
    //padding-top: 30px;
}

.col-icon {
    float: right;
    width: $w-icon;
    height: $h-icon;
    margin-left: -30px;
}
.col-text {
    float: left;
    width: calc(100% - #{$w-icon} + 20px);
    margin-bottom: 30px;
}

.row-maps {
    @extend .row; 
    max-width: 642px;
    margin: 0 auto;
}
.col-2010,
.col-2015 {
    max-width: 320px;
    margin: 0 auto;
}

.col-2010 h4,
.col-2015 h4 {
    font-size: $fz-13;
    color:#000;
    font-family: $f-sans-serif-headline;
}
.col-2010 h4 {
    text-align: left;
}
.col-2015 h4 {
    text-align: left;
}

.pos-r { 
    position: relative; 
}
.pos-x {
    position: absolute;
    top: 5px;
    right: 5px;
}
.pos-bg {
    position: absolute;
    bottom: 0;
}

#election-nav-footer { 
    .electionNav-inner-container {
        padding-top: 0;
}}

@media (min-width: 660px) {
    //TODO: remove playground
    #ukProjections {
        height: 100%;
        width: calc(50% + 10px);
    }
    //END OF TODO

    .f-lastupdate {
        padding-top: 90px;
        margin-bottom: 10px;
    }

    .row-top { 
        width: calc(100% + 50px); 
        padding-bottom: 30px;
        > * { width: calc(50% - 30px); }
    }    
    .row-maps {
        max-width: 100%;
        overflow: hidden;
    }
    .col-icon {
        float: left;
    }
    .col-text {
        width: calc(100% - #{$w-icon} + 30px);
    }

    .col-2010 { 
        float: left;  
        min-width: 310px;
        width: calc(50% - 1px);
        max-width: calc(50% - 1px);
    }
    .col-2015 { 
        float: right; 
        min-width: 310px;
        width: calc(50% - 1px);
        max-width: calc(50% - 1px);
        border-left:1px solid #ddd;
    }   
    .col-2010 h4 {
        text-align: right;
        font-weight: normal;
        padding-right:30px;
    }
    .col-2015 h4 {
        text-align: left;
        padding-left:30px;
    }
    .col-2010 svg {
        float: left;
        display: block;
    }
    .col-2015 svg {
        float: right;
        display: block;
    }

    .pos-map-uk {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media (min-width: 740px) {
    .row-top {
        width: calc(100% + 20px); 
    }
}

@media (min-width: 980px) {
    h1 {
        font-size: 48px;
        line-height: 54px;
    }
    // text in section
    .section p {
        width: 60%;
    }
    .row-text {
        width: 50%;
    }
    // text in subsection
    .col-text {
        width: calc(50% - #{$w-icon} + 30px);
    }
}
