/**
 * CSS of page goes here
 * */


//TODO: remove playground
#ukProjections {
    border: 1px dotted lightblue;
    box-sizing: border-box;
    height: 100%;
}
.center {
    border: 1px solid;
    box-sizing: border-box;
}
//END OF TODO


// variables
$w-icon: 100px;
$h-icon: 100px;


// reset
h1, h2, h3, h4, h5, p {
    margin: 0;
}

a,
button {
    cursor: pointer;
}

a:hover,{
    text-decoration: underline;
}

input:focus,
button:focus {
    outline: none;
}


// style: fonts
h1 {
    font-size: 32px;
}
h2 {
    font-family: $f-serif-headline;
    font-size: $fz-22;
    color: $c-grey1;
}
h3 {
    font-family: $f-serif-headline;
    font-size: $fz-20;
    font-weight: bold;
    color: $c-grey3;
}
h4 { 
    font-size: $fz-16;
}
h5 {
    font-family: $f-sans-serif-text;
    font-size: $fz-14;
}

p {
    font-family: $f-sans-serif-text;
    font-size: $fz-14;
    color: $c-grey2;
}

.f-standfirst {
    font-family: $f-serif-text;
    font-size: $fz-18;
    color: $c-grey3;
    margin-top: 15px;
    margin-bottom: 15px;
}
.f-lastupdate {
    margin-bottom: -5px;
}

.f-people {
    font-family: $f-sans-serif-text;
    font-size: $fz-14;
    color: $c-grey1;
}

.f-footnote {
    font-family: $f-sans-serif-text;
    font-size: $fz-13;
    color: #ababab;
    line-height: 1.3;
}
.f-credit {
    font-family: $f-serif-text;
    font-size: $fz-15;
    font-weight: bold;
    color: $c-grey2;    
    margin-top: 30px;
    margin-bottom: 15px;
    a {
        color: $c-brand;    
    }
}

// style: elements

.ul-candidates {
    list-style: none;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    li {
        @extend .f-people;
    } 
    a {
        @extend .f-people;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

// style: misc
.mt-10 { margin-top: 10px; }
.mt-30 { margin-top: 30px; }

.bt {
    border-top: 1px solid $c-grey5;
    padding-top: 15px; 
}

.hidden {
    display: none;
}



//TODO: remove hack
#election-nav-head { display: none; }
//END OF TODO


// responsive
.row {
    overflow: hidden;
    margin: 30px auto;
}

.row-top {
    @extend .row;
    min-height: 640px;
    margin-top: 0;
    margin-bottom: 0;
}

.col-icon {
    float: right;
    width: $w-icon;
    height: $h-icon;
    margin-left: -30px;
}
.col-text {
    float: left;
    width: calc(100% - #{$w-icon} + 20px);
}

.row-maps {
    @extend .row; 
    max-width: 642px;
    margin: 0 auto;
}
.col-2010,
.col-2015 {
    max-width: 320px;
    margin: 0 auto;
}

.col-2010 h4,
.col-2015 h4 {
    font-size: $fz-13;
    color:#000;
    font-family: $f-sans-serif-headline;
}
.col-2010 h4 {
    text-align: left;
}
.col-2015 h4 {
    text-align: left;
}

.pos-r { 
    position: relative; 
}
.pos-x {
    position: absolute;
    top: 5px;
    right: 5px;
}
.pos-bg {
    position: absolute;
    bottom: 0;
}

#election-nav-head, 
#election-nav-footer { 
    .electionNav-inner-container {
        padding-top: 0;
}}

@media (min-width: 660px) {
    //TODO: remove this hack if possible
    #election-nav-head { 
        display: block;
        width: 100%;
        
        .electionNav-head-title:after {
            display: block;
        }
        .electionNav-head-item {
            display: inline-block;
        }
    }
    #election-nav-head, 
    #election-nav-footer { 
        .electionNav-inner-container {
            max-width: none;
            margin: 0;
    }}
    //END OF TODO

    .row-top { 
        > * { width: calc(50% - 10px); }
    }    
    .row-maps {
        max-width: 100%;
        overflow: hidden;
    }
    .col-icon {
        float: left;
    }
    .col-text {
        width: calc(100% - #{$w-icon} + 30px);
    }

    .col-2010 { 
        float: left;  
        min-width: 310px;
        width: calc(50% - 1px);
        max-width: calc(50% - 1px);
    }
    .col-2015 { 
        float: right; 
        min-width: 310px;
        width: calc(50% - 1px);
        max-width: calc(50% - 1px);
        border-left:1px solid #ddd;
    }   
    .col-2010 h4 {
        text-align: right;
        font-weight: normal;
        padding-right:30px;
    }
    .col-2015 h4 {
        text-align: left;
        padding-left:30px;
    }
    .col-2010 svg {
        float: left;
        display: block;
    }
    .col-2015 svg {
        float: right;
        display: block;
    }

    .pos-map-uk {
        position: absolute;
        top: 0;
        right: 0;
    }
}
@media (min-width: 980px) {
    h1 {
        font-size: 48px;
    }
    // text in section
    .row-text {
        width: 50%;
    }
    // text in subsection
    .col-text {
        width: calc(50% - #{$w-icon} + 30px);
    }
    .f-lastupdate {
        margin-bottom: -10px;
    }
}
