/*************** TOOLTIP ***************/
.tooltip {
    position: absolute;
    width:0px;
    overflow: visible;
    z-index: 9;
    left:-1000000px;
}

.tooltip div.tooltip-content {
    
    width:170px;
    

    padding:5px;

    margin-left:25px;

    background:rgba(255,255,255,0.9);
    border:1px solid #ddd;

    position:relative;
}

.tooltip .tooltip-content:after, .tooltip-content:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tooltip .tooltip-content:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255,255,255,0.9);
    border-width: 8px;
    margin-top: -8px;
}
.tooltip .tooltip-content:before {
    border-color: rgba(221, 221, 221, 0);
    border-right-color: #ddd;
    border-width: 9px;
    margin-top: -9px;
}

.tooltip h4 {
    font-family: $f-sans-serif-headline;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.tooltip p {
    font-family: $f-sans-serif-text;
    margin: 0;
    padding: 0;
    font-size: 11px;
    color:#000;
}
/*************** TOOLTIP-ARROW ***************/
.tooltip-arrow {

    position: absolute;
    width:0px;
    overflow: visible;
    z-index: 9;
    left:-1000000px;

    border-left:2px solid #333;
    height: 300px;
    width:0px;
    margin-left:-6px;
    margin-top:30px;
}

.tooltip-arrow div.tooltip-content {
    position: relative;

    width:200px;
    
    border:1px solid #ddd;
    
    padding:5px;

    margin:150px 0 0 -100px;

    background:#fff;
    
}
.tooltip-arrow  .arrow_box {
    position: absolute;
    background: #333;
    height:2px;
    overflow: visible;
    bottom: 2px;
    right: 5px;
}
.tooltip-arrow .arrow_box:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 9px 4.5px 0 4.5px;
    border-color: #333 transparent transparent transparent;
}
.tooltip-arrow h4 {
    font-family: $f-sans-serif-headline;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.tooltip-arrow p {
    font-family: $f-sans-serif-text;
    margin: 0;
    padding: 0;
    font-size: 11px;
    color:#000;
}


@media(min-width:660px){

    .tooltip-arrow {

        position: absolute;
        width:0px;
        overflow: visible;
        z-index: 9;
        left:-1000000px;

        border-bottom:2px solid #333;
        height: 0px;
        width:calc(100% - 350px); //460px + 40px
        margin-left:15px;
        margin-top:19px; /* height of h4 title on the map */
    }

    .tooltip-arrow div.tooltip-content {
        margin:-60px auto 0;
    }

    .tooltip-arrow div.tooltip-content {
        background:rgba(255,255,255,0.9);
    }

    .tooltip-arrow  .arrow_box {
        position: absolute;
        background: #333;
        height:2px;
        overflow: visible;
        bottom: 2px;
        right: 2px;
    }
    .tooltip-arrow .arrow_box:after {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;

        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 4.5px 0 4.5px 9px;
        border-color: transparent transparent transparent #333;
    }
}
@media(min-width:980px){
    .tooltip-arrow {
        width:calc(100% - 500px);
    }
}